$web-font: "Gothic A1", sans-serif;
$web-color: #747474;
$web-font-size: 19px;
$web-background: #F0F0F0;
$main-container-width: 750px;
$main-container-width-medium: 650px;
$main-container-width-small: 450px;
$main-container-width-xsmall: 310px;
$width-and-height-badge: 18px;
$width-image-container: 95px;
$primary-color: #FF2861;

@mixin display-flex() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin align-items($align) {
	-webkit-box-align: $align;
	-ms-flex-align: $align;
	align-items: $align;
}

@mixin align-self($align) {
	-ms-flex-item-align: $align;
    -ms-grid-row-align: $align;
    align-self: $align;
}

@mixin flex($width, $grow, $shrink) {
	-webkit-box-flex: $shrink;
	-ms-flex: $grow $shrink $width;
	flex: $grow $shrink $width;
}

/* Icono de campana de icomoon */
@font-face {
	font-family: 'iconos';
	src:  url('fonts/iconos.eot?7k9ulk');
	src:  url('fonts/iconos.eot?7k9ulk#iefix') format('embedded-opentype'),
		url('fonts/iconos.ttf?7k9ulk') format('truetype'),
		url('fonts/iconos.woff?7k9ulk') format('woff'),
		url('fonts/iconos.svg?7k9ulk#iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icono-"], [class*=" icono-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconos' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icono-bell:before {
	content: "\e951";
}

body {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	margin: 0px;
	font-family: $web-font;
	font-size: $web-font-size;
	color: $web-color;
	background-color: $web-background;
}

a {
	color: $primary-color;
}

.content-container {
	width: 750px;
	margin: 0 auto;
}

.notification-icon-container {
	margin: 0 auto;
	width: 50px;
}

.notification-icon {
	display: inline-block;
	position: relative;
	color: #D1D1D1;
	font-size: 50px;
}

.notification-icon-counter {
	position: absolute;
	background-color: $primary-color;
	color: #ffffff;
	font-size: 15px;	
	font-weight: 900;
	right: 0px;
	top: 3px;
	border-radius: 14px;
	padding: 1px 8px;
}

.notification-panel {
	@include display-flex();
	@include align-items(center);
	background-color: #ffffff;
	border-radius: 8px;
	padding: 22px;
	margin: 35px 0px;
}

.image-container { 
	display: flex;
	@include flex($width-image-container, 0, 0);
	position: relative;
}

.notification-badge {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: $primary-color;
	width: $width-and-height-badge;
	height: $width-and-height-badge;
	border-radius: 50%;	
}

.image-area {
	padding: 30px 0px;
	padding-left: 18px;
	line-height: 0px;
}

.contact-image {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.text-area {
	text-align: left;
	@include flex(100%, 1, 1);
	padding: 15px;
	margin-left: 18px;
}

.text-area p {
	margin: 5px 0px;
}

.contact-name {
	font-weight: 900;
}

.notification-time {
	font-weight: 200;
	font-size: 18px;
	color: #ABABAB;
}

@media screen and (max-width: 1050px) {
	.content-container {
		width: $main-container-width-medium;
	}

	.notification-panel {
		margin: 30px 0px;
	}
}

@media screen and (max-width: 670px) {
	.content-container {
		width: $main-container-width-small;
	}

	.notification-panel {
		margin: 25px 0px;
	}

	.text-area {
		padding: 5px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 480px) {
	.content-container {
		width: $main-container-width-xsmall;
	}

	.notification-panel {
		padding: 10px;
		margin: 20px 0px;
	}
}